.root{
    -fx-background-color: #67bbef;

}

.menu-bar{
    -fx-background-color: #37a7ec;
    -fx-text-fill: #013554;
}

.menu-bar:hover {
    -fx-background-color: #017fcc;
}

.menu-item{
    -fx-background-color: #37a7ec;
    -fx-text-fill: #013554;

}
.menu-item:hover{
    -fx-background-color: #017fcc;
    -fx-font-weight: bold;
}

.text-area{
    -fx-text-fill: #013554;
    -fx-highlight-fill: #015285;
    -fx-highlight-text-fill: #67bbef;
    -fx-control-inner-background: #91cbef;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #37a7ec;
}
.list-view{
    -fx-text-fill: #013554;
    -fx-highlight-fill: #015285;
    -fx-highlight-text-fill: #67bbef;
    -fx-control-inner-background: #91cbef;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #37a7ec;
}

.text-field{
    -fx-text-fill: #013554;
    -fx-highlight-fill: #015285;
    -fx-highlight-text-fill: #67bbef;
    -fx-control-inner-background: #91cbef;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #37a7ec;

}

.button{
    -fx-background-color: #37a7ec;
    -fx-text-fill: #013554;
}

.button:hover{
    -fx-background-color: #017fcc;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}
