.root{
    -fx-background-color: #eede91;

}

.menu-bar{
    -fx-background-color: #e8d04d;
    -fx-text-fill: #1e1a05;
}

.menu-bar:hover {
    -fx-background-color: #e7ca2c;
}

.menu-item{
    /*-fx-control-inner-background: #e8d04d;*/
    -fx-background-color: #e8d04d;
    -fx-text-fill: #1e1a05;

}
.menu-item:hover{
    -fx-background-color: #e5c51b;
    -fx-font-weight: bold;
}


.text-area{
    -fx-text-fill: #1e1a05;
    -fx-highlight-fill: #2d2914;
    -fx-highlight-text-fill: #8c7e36;
    -fx-control-inner-background: #eee4b5;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #e8d04d;
}

.text-field{
    -fx-text-fill: #1e1a05;
    -fx-highlight-fill: #2d2914;
    -fx-highlight-text-fill: #8c7e36;
    -fx-control-inner-background: #eee4b5;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-color: #e8d04d;
}

.button{
    -fx-background-color: #e8d04d;
    -fx-text-fill: #1e1a05;
}

.button:hover{
    -fx-background-color: #e5c51b;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

